mat-card {
    min-width: 500px;
    width: 100%;
}

h4{
    margin-top: 20;
    margin-bottom: 0px;
}
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

// Sets direciton to columns
.data-column-left,
.data-column-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

// Align the content to the right for the rightmost column.
.data-column-right {
    padding: 1px;
    margin: 0;
    align-items: flex-end;
}


// This makes the rows zero height until they are clicked
tr.detail-row {
    height: 0;
}

// Change to this colour when you hover over a row
tr.element-row:not(.expanded-row):hover {
    background-color: whitesmoke;
}

// Change to this colour when you hold down (make active) arow
tr.element-row:not(.expanded-row):active {
    background-color: #dddddd;
}

// Gets rid of the bottom border that separates the row and the details when expanded. Makes it look like they are grouped together.
.element-row td {
    border-bottom-width: 0;
}