<div class="container-horizontal">
    <form [formGroup]="equipmentAddForm" (ngSubmit)="addEquipment(equipmentFormDirective)" #equipmentFormDirective="ngForm">

        <!-- Rack Selection -->
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Rack</mat-label>
            <mat-select formControlName='rack' required (selectionChange)="onRackChange($event)">
                <mat-option *ngFor="let rack of equipmentRacks" [value]="rack">
                    {{rack.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Quantity -->
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Quantity</mat-label>
            <input type="number" matInput placeholder="Quantity" formControlName="quantity">
            <mat-error>Please provide a value for quantity</mat-error>
        </mat-form-field>

    </form>
</div>

<!-- Equipment Table To Display Selectable Equipment -->
<div>
    <table mat-table [dataSource]="dataSourceEquipmentOnRack">
        <!-- Equipment Properties Column -->
        <ng-container matColumnDef="equipmentProperties">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipment Properties</th>
            <td mat-cell *matCellDef="let row">
                {{ row.equipmentDefinition.category }} - {{ row.equipmentDefinition.size.sizeMetric }}mm -
                {{ row.equipmentDefinition.grade.name }}
            </td>
        </ng-container>

        <!-- Rack Column -->
        <ng-container matColumnDef="rackName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rack</th>
            <td mat-cell *matCellDef="let row"> {{ row.rackName }} </td>
        </ng-container>

        <!-- Length in Meters Column -->
        <ng-container matColumnDef="lengthInMeters">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Length (m)</th>
            <td mat-cell *matCellDef="let row"> {{ row.lengthInMeters }} </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
            <td mat-cell *matCellDef="let row"> {{ row.quantity }} </td>
        </ng-container>

        <!-- Table Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumnsRack"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsRack;" (click)="handleEquipmentOnRackClick(row)"
            [class.selected]="selectedEquipmentOnRack.isSelected(row)"></tr>
    </table>

    <!-- Buttons for adding/updating equipment -->
    <div class="actions">
        <button mat-raised-button color="primary" type="button" (click)="addEquipment(equipmentFormDirective)">Add
            Equipment</button>
    </div>

    <table mat-table [dataSource]="dataSourceEquipmentForTally">
        <!-- Equipment Properties Column -->
        <ng-container matColumnDef="equipmentProperties">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipment Properties</th>
            <td mat-cell *matCellDef="let row">
                {{ row.equipmentDefinition.category }} - {{ row.equipmentDefinition.size.sizeMetric }}mm -
                {{ row.equipmentDefinition.grade.name }}
            </td>
        </ng-container>

        <!-- Length in Meters Column -->
        <ng-container matColumnDef="lengthInMeters">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Length (m)</th>
            <td mat-cell *matCellDef="let row"> {{ row.lengthInMeters }} </td>
        </ng-container>

        <!-- Rack Column -->
        <ng-container matColumnDef="rackName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rack</th>
            <td mat-cell *matCellDef="let row"> {{ row.rackName }} </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
            <td mat-cell *matCellDef="let row"> {{ row.quantity }} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="right-align"></th>
            <td mat-cell *matCellDef="let row" class="column-actions right-align">
                <button mat-icon-button aria-label="Remove Equipment" (click)="removeEquipment(row)">
                    <mat-icon aria-hidden="false" fontIcon="delete" color="accent"></mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTally"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTally;"></tr>
    </table>

    <div *ngIf="registeredEquipment.length === 0" class="display-message">
        No equipment has been added yet
    </div>

    <div class="actions">
        <button mat-raised-button color="primary" (click)="updateEquipment(equipmentFormDirective)"
            *ngIf="selectedEquipmentInTallyForEdit">Update
            Equipment</button>
        <button mat-raised-button (click)="cancelEdit(equipmentFormDirective)"
            *ngIf="selectedEquipmentInTallyForEdit">Cancel</button>
    </div>

</div>
