mat-card {
    min-width: 500px;
    width: 100%;
    overflow-x: auto;
}

h4 {
    margin-top: 20;
    margin-bottom: .4rem;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

// Sets direciton to columns
.data-column-left,
.data-column-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

// Align the content to the right for the rightmost column.
.data-column-right {
    padding: 1px;
    margin: 0;
    align-items: flex-end;
}


// This makes the rows zero height until they are clicked
tr.detail-row {
    height: 0;
}

// Change to this colour when you hover over a row
tr.element-row:not(.expanded-row):hover {
    background-color: whitesmoke;
}

// Change to this colour when you hold down (make active) arow
tr.element-row:not(.expanded-row):active {
    background-color: #dddddd;
}

// Gets rid of the bottom border that separates the row and the details when expanded. Makes it look like they are grouped together.
.element-row td {
    border-bottom-width: 0;
}

mat-expansion-panel {
    .container-filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;
    }

    .item-buttons {
        display: flex;
        justify-content: flex-start;
    }

    mat-form-field {
        flex: 1 0 25%;
        /* Manage the width and allow wrapping */
        max-width: 275px;
        /* Set a max-width for form fields */
        min-width: 150px;
    }

    button {
        margin: 0 0.75rem 0 0;
    }

}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.actions button {
    flex-grow: 1;
    margin: .1rem;
}

.successLabel {
    color: green;
}

.errorLabel {
    color: red;
}

.infoLabel {
    color: black;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}


.mat-expansion-panel-header.mat-expanded {
    height: 3rem;
    ;
}

.selected {
    background-color: rgba(0, 0, 0, 0.04); // Light grey background for selected rows
}

