@import 'src/app/shared/shared.module.scss';

.pipe-definition-select-container .full-width {
  width: 100%;

}

.pipe-definition-select-container {
  margin: 1rem;
}

.mat-expansion-panel-header.mat-expanded {
  height: 3rem;;
}

