<mat-card>
    <mat-card-header>
        <div *ngIf="!pipe" class="title-container">
            Pipe Information
        </div>

        <div *ngIf="pipe" class="title-container">
            <span>{{pipe.rackName}}</span>
            <span>Tier {{pipe.tierNumber}}</span>
        </div>
    </mat-card-header>

    <mat-card-content>
        <div class="container" *ngIf="pipe">
            <div class="container-row">

                <div class="container-description">
                    <div>
                        <div class="element-description">
                            <b>Category: </b>
                            <span>{{pipe.pipeDefinition.category?.name}}</span>
                        </div>
                        <div class="element-description">
                            <b>Condition: </b>
                            <span>{{pipe.pipeDefinition.condition?.name}}</span>
                        </div>
                        <div class="element-description">
                            <b>Grade: </b>
                            <span>{{pipe.pipeDefinition.grade?.name}}</span>
                        </div>
                        <div class="element-description">
                            <b>Range: </b>
                            <span>{{pipe.pipeDefinition.range?.name}}</span>
                        </div>
                        <div class="element-description">
                            <b>Thread: </b>
                            <span>{{pipe.pipeDefinition.thread?.name}}</span>
                        </div>
                        <div class="element-description">
                            <b>Weight (kg/m): </b>
                            <span>{{pipe.pipeDefinition.weight?.weightInKgPerMeter}}</span>
                        </div>
                        <div class="element-description">
                            <b>Weight (lbs/ft): </b>
                            <span>{{pipe.pipeDefinition.weight?.weightInLbsPerFoot}}</span>
                        </div>
                    </div>

                    <div>
                        <div class="element-description">
                            <b>Length (ft): </b>
                            <span>{{pipe.lengthInFeet}}</span>
                        </div>
                        <div class="element-description">
                            <b>Size (m): </b>
                            <span>{{pipe.pipeDefinition.size?.sizeMetric}}</span>
                        </div>
                        <div class="element-description">
                            <b>Size (ft): </b>
                            <span>{{pipe.pipeDefinition.size?.sizeMetric}}</span>
                        </div>
                        <div class="element-description">
                            <b>Wall (m): </b>
                            <span>{{pipe.pipeDefinition.wall?.wallMetric}}</span>
                        </div>
                        <div class="element-description">
                            <b>Wall (ft): </b>
                            <span>{{pipe.pipeDefinition.wall?.wallMetric}}</span>
                        </div>
                    </div>
                </div>


                <!-- <div class="data-column-left">

                    <span>{{pipe.pipeDefinition.category?.name}} </span>
                    <span>{{pipe.pipeDefinition.condition?.name}} </span>
                    <span>{{pipe.pipeDefinition.grade?.name}} </span>
                    <span>{{pipe.pipeDefinition.thread?.name}} </span>
                    <span>{{pipe.pipeDefinition.weight?.weightInKgPerMeter}} kg/m</span>
                    <span>{{pipe.pipeDefinition.weight?.weightInLbsPerFoot}} lbs/ft</span>

                </div>

                <div class="data-column-right">
                    <span>{{pipe.lengthInMeters}} m </span>
                    <span>{{pipe.lengthInFeet}} ft </span>
                    <span>{{pipe.pipeDefinition.size?.sizeMetric}} (size metric) </span>
                    <span>{{pipe.pipeDefinition.size?.sizeImperial}} (size imperial)</span>
                    <span>{{pipe.pipeDefinition.wall?.wallMetric}} (wall metric)</span>
                    <span>{{pipe.pipeDefinition.wall?.wallImperial}} (wall imperial) </span>

                </div> -->
            </div>


        </div>

    </mat-card-content>



    <div *ngIf="loading" class="spinner">
        <mat-progress-spinner
        color="primary"
        mode="indeterminate">
        </mat-progress-spinner>
    </div>


</mat-card>
