@import '~@angular/material/theming';

$toolbar-breakpoint: 600px;

$fa-font-path: '~@fortawesome/fontawesome-free-webfonts/webfonts';

$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// $grid-breakpoints: (
//   xs: 599,
//   sm: 600x,
//   md: 960px,
//   lg: 1280px,
//   xl: 1920px
// );



$success-colors: mat-palette($mat-green, 400);
$warning-colors: mat-palette($mat-amber, 400);


/*Normal Color*/
$white: #ffffff;
$red: #fb3a3a;
$yellow: #a0aec4;
$purple: #7460ee;
$blue: #02bec9;
$megna: #00897b;
