$cjcsm-gray: (
    50 : #edf4ee,
    100 : #d1e3d4,
    200 : #b3d0b7,
    300 : #95bd9a,
    400 : #7eaf84,
    500 : #67a16e,
    600 : #5f9966,
    700 : #548f5b,
    800 : #4a8551,
    900 : #39743f,
    A100 : #c5ffcb,
    A200 : #92ff9d,
    A400 : #5fff6f,
    A700 : #46ff58,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$cjcsm-red: (
    50 : #edf4ee,
    100 : #d1e3d4,
    200 : #b3d0b7,
    300 : #95bd9a,
    400 : #7eaf84,
    500 : #67a16e,
    600 : #5f9966,
    700 : #548f5b,
    800 : #4a8551,
    900 : #39743f,
    A100 : #c5ffcb,
    A200 : #92ff9d,
    A400 : #5fff6f,
    A700 : #46ff58,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



// $cjcsm-gray: (
//     50 : #e7e7e8,
//     100 : #c2c4c6,
//     200 : #9a9da0,
//     300 : #717579,
//     400 : #52585d,
//     500 : #343a40,
//     600 : #2f343a,
//     700 : #272c32,
//     800 : #21252a,
//     900 : #15181c,
//     A100 : #63b1ff,
//     A200 : #3097ff,
//     A400 : #007efc,
//     A700 : #0071e2,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #ffffff,
//         400 : #ffffff,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #ffffff,
//         A700 : #ffffff,
//     )
// );

// $cjcsm-red: (
//     50 : #f6e4e4,
//     100 : #e8bdbd,
//     200 : #d99191,
//     300 : #c96464,
//     400 : #be4343,
//     500 : #b22222,
//     600 : #ab1e1e,
//     700 : #a21919,
//     800 : #991414,
//     900 : #8a0c0c,
//     A100 : #ffb9b9,
//     A200 : #ff8686,
//     A400 : #ff5353,
//     A700 : #ff3a3a,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #ffffff,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #ffffff,
//     )
// );

