@import 'src/app/shared/shared.module.scss';

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid green; // Todo: Update this to use the theme colour
}