<div class="container-tab">

    <mat-card class="section-search">
        <mat-accordion>

            <mat-expansion-panel expanded="true" class="filter-options">
                <mat-expansion-panel-header>
                    <mat-panel-title>Filter options</mat-panel-title>
                </mat-expansion-panel-header>

                <form [formGroup]="tallyForm" >
                    <div class="container-filter">

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Tally Type</mat-label>
                            <mat-select formControlName="tallyType">
                                <mat-option *ngFor="let tallyType of tallyTypeOptions"
                                    [value]="tallyType">{{displayTallyType(tallyType)}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Tally Number</mat-label>
                            <input matInput type="string" placeholder="Tally Number" formControlName="tallyNumber">
                        </mat-form-field>


                        <mat-form-field appearance="outline" color="accent" >
                            <mat-label>Customer</mat-label>
                            <mat-select formControlName="customer">
                                <mat-option *ngFor="let customer of customersFullList" [value]="customer.customerId">
                                    {{customer.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="date-field">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [formGroup]="tallyForm" [rangePicker]="picker">
                            <input matStartDate formControlName="dateStart" placeholder="Start date">
                            <input matEndDate formControlName="dateEnd" placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>

                            <mat-error *ngIf="tallyForm.controls['dateStart'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
                            <mat-error *ngIf="tallyForm.controls['dateEnd'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
                        </mat-form-field>


                        <div class="item-buttons">
                            <button mat-raised-button (click)="clearForm()">Clear filters</button>
                            <button mat-raised-button color="primary" (click)="filter()">Filter</button>
                        </div>

                    </div>
                </form>


            </mat-expansion-panel>
        </mat-accordion>

        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="tallyNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tally Number </th>
                <td mat-cell *matCellDef="let row"> {{row.tallyNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
                <td mat-cell *matCellDef="let row"> {{row.customerName}} </td>
            </ng-container>

            <ng-container matColumnDef="shopName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Shop</th>
                <td mat-cell *matCellDef="let row"> {{row.customerName}} </td>
            </ng-container>

            <ng-container matColumnDef="tallyType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let row"> {{displayTallyType(row.tallyType)}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let row"> {{row.dateOfCreation | date:'mediumDate'}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header ></th>
                <td mat-cell *matCellDef="let row" class="column-actions">
                    <button mat-icon-button aria-label="View tally" (click)="viewTally(row)">
                        <mat-icon aria-hidden="false" fontIcon="open_in_new" color="accent"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <!-- <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->
        </table>

        <div *ngIf="loadingTallies" class="spinner">
        <mat-progress-spinner
            color="primary"
            mode="indeterminate">
        </mat-progress-spinner>
        </div>

    </mat-card>

    <!-- <mat-card > -->
        <app-tally-view class="section-view"></app-tally-view>
    <!-- </mat-card>    -->

</div>





