

<div class="container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="section">

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>dataset</mat-icon>
                Category
            </ng-template>
            <app-pipe-property-category></app-pipe-property-category>

        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>layers</mat-icon>
                Coating
            </ng-template>
        </mat-tab>

        <mat-tab >
            <ng-template mat-tab-label>
              <mat-icon>manage_search</mat-icon>
              Condition
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>analytics</mat-icon>
              Grade
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>settings_ethernet</mat-icon>
                Range
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>expand</mat-icon>
                Size
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>tornado</mat-icon>
                Thread
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>line_weight</mat-icon>
                Wall
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>scale</mat-icon>
                Weight
            </ng-template>
        </mat-tab>


    </mat-tab-group>
</div>
