<div class="container-tab">

    <mat-card class="section-search" >
        <mat-accordion>
            <mat-expansion-panel expanded="true" class="filter-options">
                <mat-expansion-panel-header>
                    <mat-panel-title>Filter options</mat-panel-title>
                </mat-expansion-panel-header>

                <form [formGroup]="pipeForm">
                    <div class="container-filter">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>Category</mat-label>
                            <input type="text" placeholder="Select category" matInput [formControl]="categoryControl"
                                [matAutocomplete]="autoCategory">
                            <mat-autocomplete #autoCategory="matAutocomplete">
                                <mat-option *ngFor="let category of (filteredCategories$ | async)"
                                    [value]="category.name">
                                    {{ category.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <!-- <mat-form-field appearance="outline" color="accent">
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="category">
                                <mat-option *ngFor="let category of (categories$ | async)"
                                    [value]="category.pipeProperty_CategoryId">
                                    {{ category.name }}
                                </mat-option>
                            </mat-select> </mat-form-field> -->
                        <!-- 
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Condition</mat-label>
                            <mat-select formControlName="condition">
                                <mat-option *ngFor="let condition of (conditions$ | async)"
                                    [value]="condition.pipeProperty_ConditionId">
                                    {{ condition.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>Condition</mat-label>
                            <input type="text" placeholder="Select condition" matInput [formControl]="conditionControl"
                                [matAutocomplete]="autoCondition">
                            <mat-autocomplete #autoCondition="matAutocomplete">
                                <mat-option *ngFor="let condition of (filteredConditions$ | async)"
                                    [value]="condition.name">
                                    {{ condition.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>


                        <!-- <mat-form-field appearance="outline" color="accent">
                            <mat-label>Length (meters)</mat-label>
                            <input matInput type="number" placeholder="Length (meters)" formControlName="lengthInMeters">
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Length (feet)</mat-label>
                            <input matInput type="number" placeholder="Length (feet)" formControlName="lengthInFeet">
                        </mat-form-field> -->

                        <div class="item-buttons">
                            <button mat-raised-button (click)="clearForm()">Clear filters</button>
                            <button mat-raised-button color="primary" (click)="filter()">Filter</button>
                        </div>

                    </div>
                </form>

            </mat-expansion-panel>
        </mat-accordion>

        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
                <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
            </ng-container>
            <ng-container matColumnDef="lengthInMeters">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Length(m)</th>
                <td mat-cell *matCellDef="let row"> {{row.lengthInMeters}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="lengthInFeet">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Length (feet)</th>
                <td mat-cell *matCellDef="let row"> {{row.lengthInFeet}} </td>
            </ng-container> -->

            <ng-container matColumnDef="rack">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Rack</th>
                <td mat-cell *matCellDef="let row"> {{row.rackName}} </td>
            </ng-container>

            <ng-container matColumnDef="tier">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tier</th>
                <td mat-cell *matCellDef="let row"> {{row.tierNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                <td mat-cell *matCellDef="let row"> {{row.pipeDefinition.category?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="condition">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Condition</th>
                <td mat-cell *matCellDef="let row"> {{row.pipeDefinition.condition?.name}} </td>
            </ng-container>


            <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade</th>
                <td mat-cell *matCellDef="let row"> {{row.pipeDefinition.grade?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row" class="column-actions">
                    <button mat-icon-button aria-label="View tally" (click)="viewCustomer(row)">
                        <mat-icon aria-hidden="false" fontIcon="open_in_new" color="accent"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <!-- <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->
        </table>

        <div *ngIf="loadingPipe" class="spinner">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>

    </mat-card>

    <app-pipe-view class="section-view"></app-pipe-view>
</div>