@import 'src/app/shared/shared.module.scss';


// The CSS selectors like .mat-column-quantity, .mat-column-lengthInMeters, etc., 
// correspond to classes that Angular Material automatically assigns to each table column based on the matColumnDef
// names specified in the table's HTML.
.mat-column-quantity { width: 5%; min-width: 50px;}
.mat-column-lengthInMeters { width: 10%; }
.mat-column-rack { width: 25%; }
.mat-column-tier { width: 5%; }
.mat-column-category { width: 15%; }
.mat-column-condition { width: 15%; }
.mat-column-grade { width: 15%; }
.mat-column-actions{width: 10%;}
