.section {
    margin: 1rem;
    padding: 1rem;
    width: 100%;    
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    
}

.item-rack-list {
    flex: 1 1 auto;
}

.item-pipe-search {
    flex: 1 1 auto;    
}

