<div>
    <app-actions-bar></app-actions-bar>
</div>

<div class="container">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" >          

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>group</mat-icon>
                    Search by Customer
                </ng-template>
                <app-search-customer></app-search-customer>    
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>assignment</mat-icon>
                  Search by Tally
                </ng-template>
                <app-search-tally></app-search-tally>
              </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>view_list</mat-icon>
                  Search by Rack
                </ng-template>
                <app-search-rack></app-search-rack>
            </mat-tab>
            
            

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>plumbing</mat-icon>
                    Search by Pipe
                </ng-template>
                <app-search-customer></app-search-customer>    
            </mat-tab>

        </mat-tab-group>    
</div>





<!-- 
<div class="container">
    <app-rack-list 
        *ngIf="!(loadingRacks$ | async)" 
        [racks]="racks$ | async"
        class="section item-rack-list">
    </app-rack-list>

    <app-pipe-search class="section item-pipe-search">    
    </app-pipe-search>

</div>

<div class="container">
   


</div> -->
