
@import 'src/app/shared/shared.module.scss';

.pdf-icon {
  cursor: pointer;       /* Makes the icon clickable */
  color: #419868;
  width: auto;
  height: auto;
  font-size: 40pt;
}

.pdf-icon:hover {
  color: black;        /* Changes color when hovered */
}
