<mat-card>
    <mat-card-header>
        <div *ngIf="!pipe" class="title-container">
            Pipe Information
        </div>

        <div *ngIf="pipe" class="title-container">
            <span>{{pipe.rackName}}</span>
            <span>Tier {{pipe.tierNumber}}</span>
        </div>
    </mat-card-header>

    <mat-card-content>

        <div *ngIf="!pipe" class="container">
            <span>Please select a pipe entry.</span>
        </div>

        <div *ngIf="pipe">
            <div class="container-row">

                <div class="data-column-left">
                    <span><b>Category:</b> {{pipe.pipeDefinition.category?.name}}</span>
                    <span><b>Condition:</b> {{pipe.pipeDefinition.condition?.name}}</span>
                    <span><b>Grade:</b> {{pipe.pipeDefinition.grade?.name}}</span>
                    <span><b>Range:</b> {{pipe.pipeDefinition.range?.name}}</span>
                    <span><b>Thread:</b> {{pipe.pipeDefinition.thread?.name}}</span>
                    <span><b>Weight (kg/m):</b> {{pipe.pipeDefinition.weight?.weightInKgPerMeter}}</span>
                    <span><b>Weight (lbs/ft):</b> {{pipe.pipeDefinition.weight?.weightInLbsPerFoot}}</span>
                </div>
            
                <div class="data-column-right">
                    <span><b>Length (ft):</b> {{pipe.lengthInFeet}}</span>
                    <span><b>Size (m):</b> {{pipe.pipeDefinition.size?.sizeMetric}}</span>
                    <span><b>Size (ft):</b> {{pipe.pipeDefinition.size?.sizeImperial}}</span>
                    <span><b>Wall (cm):</b> {{pipe.pipeDefinition.wall?.wallMetric}}</span>
                    <span><b>Wall (in):</b> {{pipe.pipeDefinition.wall?.wallImperial}}</span>
                </div> 
                
            </div>


        </div>

    </mat-card-content>



    <div *ngIf="loading" class="spinner">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>


</mat-card>