<mat-card>
    <mat-card-header>
        <div *ngIf="rack" class="title-container">
            {{rack.name}}
        </div>
        <div *ngIf="rack" class="data-column-right">
            <div *ngIf="rack.rackType === 'Pipe'">
                <b>Jts/Tier: </b>
                <span>{{rack.jointsPerTier}} </span>
            </div>
        </div>

        <div *ngIf="!rack" class="title-container">
            Rack Information
        </div>

    </mat-card-header>

    <mat-card-content>
        <div *ngIf="!rack">
            <span>Please select a rack.</span>
        </div>

        <div *ngIf="rack">
            <div class="container-row">
                <div class="data-column-left">
                    <span>{{rack.shopLocationName}}</span>
                    <span>{{rack.description}}</span>
                </div>

            </div>
        </div>

        <div *ngIf="rack">
            <h4>{{ rack.rackType === 'Pipe' ? 'Pipe' : 'Equipment' }}</h4>
            
            <ng-container *ngIf="rack.rackType === 'Pipe'">                
                <app-pipe-detail [pipes]="rack.pipeList"></app-pipe-detail>
            </ng-container>
            
            <ng-container *ngIf="rack.rackType === 'Equipment'">
                <app-equipment-detail [equipment]="rack.equipmentList"></app-equipment-detail>
            </ng-container>
        </div>
    </mat-card-content>

    <div *ngIf="loading" class="spinner">
        <mat-progress-spinner
        color="primary"
        mode="indeterminate">
        </mat-progress-spinner>
    </div>
</mat-card>

