.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
    flex: 1 1 auto;

    &:first-of-type {
        margin-right: 20px;
    }

}

mat-card {
    margin: 20px;
}

mat-card-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

mat-card-title {
    font-weight: 700;
    font-size: 1.5rem;
}

mat-form-field {
    display: block;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

.close-icon {
    margin-left: auto;
    cursor: pointer;
}

button {
    margin-right: 1rem;
}

.right-align {
    text-align: right;
}

.display-message{
    margin-top: 1rem;
    text-align: center;
}

.scrollable-table {
    height: 300px;
    overflow-y: auto;
  }