.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
    // max-width: 45%;
    flex: 1 1 auto;
}

mat-card-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

mat-card-title {
    font-weight: 700;
    font-size: 1.5rem;
}

mat-card {
    text-align: center;
}
    
mat-form-field {
    display: block;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
}
