<mat-card class="tally-card">
    <mat-card-header>
        <mat-card-title>Add Tally</mat-card-title>
        <mat-icon class="close-icon" (click)="close()">close</mat-icon>
    </mat-card-header>

    <mat-card-content>
        <mat-accordion multi="true">
            <mat-expansion-panel style="margin-bottom: 1rem;" expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>General Info</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container-horizontal">
                    <form [formGroup]="tallyAddForm" #formDirective="ngForm" (ngSubmit)="createTally()">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Tally Type</mat-label>
                            <mat-select formControlName='tallyType' required (selectionChange)="onTallyTypeChange($event)">
                                <mat-option *ngFor="let tallyType of tallyTypeOptions" [value]="tallyType" >
                                    {{displayTallyType(tallyType)}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Tally Number</mat-label>
                            <input matInput placeholder="Tally name" formControlName="tallyNumber" required>
                            <mat-error>
                                Please provide a tally name
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Invoice Number</mat-label>
                            <input matInput placeholder="Invoice number" formControlName="invoiceNumber" required>
                            <mat-error>
                                Please provide an invoice number
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Yard</mat-label>
                            <mat-select formControlName='shopLocation' required>
                                <mat-option *ngFor="let shop of shopLocations" [value]="shop.shopLocationId">
                                    {{shop.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Customer</mat-label>
                            <mat-select formControlName='customer' required>
                                <mat-option *ngFor="let customer of customersFullList" [value]="customer.customerId">
                                    {{customer.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="datepicker" formControlName="dateOfCreation">
                            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Ok</button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Carrier</mat-label>
                            <input matInput placeholder="Consultant name" formControlName="carrierName" required>
                            <mat-error>
                                Please provide a carrier name
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Notes</mat-label>
                            <textarea matInput placeholder="Enter notes" formControlName="notes"></textarea>
                        </mat-form-field>
                    </form>
                </div>
            </mat-expansion-panel>

            <!-- Pipe Section -->
            <mat-expansion-panel style="margin-bottom: 1rem;">
                <mat-expansion-panel-header>
                    <mat-panel-title>Pipe Details</mat-panel-title>
                </mat-expansion-panel-header>
                <app-tally-pipe-in *ngIf="tallyType === TallyTypes.In" #tallyPipeInRef></app-tally-pipe-in>
                <app-tally-pipe-out *ngIf="tallyType == TallyTypes.Out" #tallyPipeOutRef></app-tally-pipe-out>
            </mat-expansion-panel>

            <!-- Equipment Section -->
            <mat-expansion-panel style="margin-bottom: 1rem;" expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>Equipment Details</mat-panel-title>
                </mat-expansion-panel-header>
               <app-tally-equipment-in *ngIf="tallyType === TallyTypes.In" #tallyEquipmentInRef></app-tally-equipment-in>
               <app-tally-equipment-out *ngIf="tallyType === TallyTypes.Out" #tallyEquipmentOutRef></app-tally-equipment-out>

            </mat-expansion-panel>
        </mat-accordion>


        <button mat-raised-button color="primary" class="item" (click)="createTally()">Create Tally</button>
        <button mat-raised-button class="item" (click)="close()">Cancel</button>

    </mat-card-content>

</mat-card>